
.label-warning{
    font-size: 12px;
    color: red;
    font-family: Verdana,sans-serif;
}

.label-normal{
    font-size: 12px;
    color: #B7B7B7;
    font-family: Verdana,sans-serif;
}

.divider-warning{
    background-color : red;
}

.divider-normal{
    background-color : #E1E1E1;
}


.input-wrapper label {
  background-color : #f5f5f5;
  border-radius: 5px;
  margin: 10px;
  padding: 3px 14px;
  font-family: Roboto;
  font-size: 13px;
  color: #0066CC;

}

.input-wrapper label:hover {
  background-color: #e0e0e0
}

.text-button-send{
    font-family: 'Roboto-Bold' !important;
    font-size: 20px;
    color: #0066cc;
}


.text-link{
    color: #5C5C5C;
    font-size: 16px;
    text-transform: none;
   }

.link-bar{
    font-family: 'Roboto-Bold' !important;
    font-size: 14px;
    color: #0066cc;
}

.appdashboard .chartitem {
  padding: 10px;

  .container.kanban {
    width: 98%;
  }

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.appdashboard .miniedit {
  margin-right: -12px;
  margin-top: -12px;
}

.appdashboard .bigadd {
  padding-top: 12px !important;
  margin-bottom: 39px;
  margin-top: 39px;
}

.appdashboard_newchart .frame {
  width: 100%;
  overflow: hidden;
}

.appdashboard_newchart md-tabs button img {
  margin-top: 20px;
}

.appdashboard_newchart md-tabs button p {
  margin-top: 0px;
}

.appdashboard_newchart md-tab-content md-content {
  height: 350px;
}

.appdashboard_newchart button.selected {
  background-color: #CCC !important;
}

.appdashboard_newchart .title {
  margin-bottom: 0px;
}

.appdashboard_newchart .constraints md-input-container {
  margin: 10px 0 0 0 !important;
}

.appdashboard_newchart .constraints .md-button.md-primary {
  margin: 10px 0;
}


.text-card-bold{
    font-family: 'Roboto-Bold' !important;
    font-size: 16px;
}


.text-card-bold-warning{
    font-family: 'Roboto-Bold' !important;
    font-size: 16px;
    color : #db2800;
}

.text-card-regular{
    font-family: 'Roboto-Regular' !important;
    font-size: 12px;
}


.text-card-regular-warning{
    font-family: 'Roboto-Regular' !important;
    font-size: 12px;
    color : #db2800;
}

.text-date-regular{
    color: #d4d4d4;
    font-size: 12px;
}
.text-date-regular-warning{
    color: #d4d4d4;
    font-size: 12px;
    color : #fe6363;
}

.fill-more-regular-warning{
    fill: #db2800;
}

.fill-more-regular{
    fill: #757575;
}

input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
}


.menu-superior {
  margin-top: 20px;
  font-size: 12px;
  md-button {
    width: 10px;
  }
  margin: 5px;
  padding: 10px;
}
.EARLY {
  background-color: #FFC107;
  font-size: 12px;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}

.TODAY {
  background-color: #FFC107;
  font-size: 12px;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}


.LATE {
    font-size: 12px;
    border-bottom-right-radius: 8px;;
    border-top-right-radius: 8px;
    margin: -11px -18px;
}
.CLOSED {
  font-size: 12px;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}

.ONTIME {
  background-color: olivedrab;
  font-size: 12px;
  color: #558B2F;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}


.LOW {
  background-color: gold;
  font-size: 12px;
  color: #FFC107;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  text-decoration-color: white;
  margin: -11px -18px;
}

.MEDIUM {
  background-color: olivedrab;
  font-size: 12px;
  color: #558B2F;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}

.HIGHT {
  background-color: #cf867e;
  font-size: 12px;
  color: #DB4432;
  border-bottom-right-radius: 8px;;
  border-top-right-radius: 8px;
  margin: -11px -18px;
}

.inputdemoBasicUsage .md-datepicker-button {
  width: 36px;
}

.textarea {
  border: 1px solid #000000;
  width: 250px;
  height: 200px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
}

label.myLabel input[type="file"] {
  position: fixed;
  top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
  border: transparent;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 2px;
  background: transparent;
  display: inline-block;
}

.myLabel:hover {
  background: #CCC;
}

.myLabel:active {
  background: #CCF;
}

.myLabel :invalid + span {
  color: #A44;
}

.myLabel :valid + span {
  color: #4A4;
}

.subheader-kanban-pending {
  background-color: #83c8e6;
}

.subheader-kanban-execution {
  background-color: #83c8e6;
}

.subheader-kanban-completed {
  background-color: #83c8e6;
}

.kanban-text {
  color: #C0C0C0;
  margin-top: 0px;

}

.button-delay {
  padding: 5px;
  line-height: 10px;
  margin: -11px 30px;
}

.input-tasks {
  padding: 1px;
}


.text-comments {
  width: 95%;
  padding: 8px;
  text-align: left;
  min-height: 50px;
}

.header-modal {
  font-family: 'Roboto';
  //color: #660099;
  font-weight: bold;
  margin-left: 10px;
}

.body-text {
  font-weight: bold;
  font-family: 'Roboto';
  color: #660099;
}

.kanban-status-bar-select {
  min-width: 120px;
}

.md-button.md-icon-button.no-margin-side{
  margin-left: 0px;
  margin-right: 0px;
}

md-switch.md-checked .md-thumb {
  background-color: #99CC33 !important;
  color: #99CC33 !important;
}

md-switch.md-checked .md-bar {
  background-color: #9E9E9E; /* set not selected bar color */
}

.padding-horizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}


#searchBox input[type="text"] {
  background: url(../assets/images/search-icon.png) no-repeat 6px 4px #EEEEEE;
  border: 0 none;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #424242;
  width:0px;
  padding: 7px 0px 0px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#searchBox input[type="text"]:focus {
  background: url(../assets/images/search-icon.png) no-repeat 10px 6px #EEEEEE;
  color: #424242;
  width: 200px;
  padding: 7px 0px 0px 32px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
