<div layout-fill>

    <div ui-view layout-fill></div>

    <footer style="background-color: rgb(255,255,255); margin-top: -51px">
        <div layout="row" layout-align="space-between center">
            <div>
                <img src="/assets/images/logo_telefonica_vivo.png" class="md-card-image" alt="Logo Telefônica Vivo">
            </div>
            <div>
                <img src="/assets/images/logo_viva_tudo.png" class="md-card-image" alt="Logo Viva Tudo">
            </div>
        </div>
    </footer>
</div>